body {
    scroll-behavior: smooth;
  }
  
.nav-link:hover {
    color: #007bff;
    transition: color 0.3s ease;
  }

  #hero-carousel {
    height: 400px; 
    overflow: hidden; 
    border-radius: 8px; 
  }

  #hero-carousel img {
    height: 100%;
    width: 100%; 
    object-fit: cover; 
  }

 
  #hero {
    padding: 2rem 0;
  }

  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  @media (max-width : 600px) {
    #hero-carousel {
      height: auto;
    }
    }

        
.counter-box {
background: #f6f6f6;
padding: 40px 20px 37px;
text-align: center
}

.counter-box p {

padding: 0;
color: #909090;
font-size: 18px;
font-weight: 500
}

.counter-box i {
font-size: 60px;
color: #d2d2d2
}

.counter {
font-size: 32px;
font-weight: 700;
color: #666;
line-height: 28px
}

.counter-box i {
font-size: 60px;
color: #d2d2d2
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
color: #fff
}
  
    .counter-box.colored {
background: #3acf87
}